USE [master]
GO
/****** Object:  Database [STOCKDB]    Script Date: 4/26/2018 11:05:12 AM ******/
CREATE DATABASE [STOCKDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STOCKDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\STOCKDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'STOCKDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\STOCKDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STOCKDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STOCKDB]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 4/26/2018 11:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[CategoriaName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Producto]    Script Date: 4/26/2018 11:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[Codigo] [varchar](50) NULL,
	[ProductoName] [varchar](50) NOT NULL,
	[PrecioVenta] [decimal](16, 2) NOT NULL,
	[PrecioCompra] [varchar](50) NULL,
	[Cantidad] [int] NOT NULL,
	[Activo] [int] NULL,
	[Stock] [int] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 4/26/2018 11:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IdCategoria], [CategoriaName]) VALUES (1, N'Gaseosas')
INSERT [dbo].[Categoria] ([IdCategoria], [CategoriaName]) VALUES (2, N'Lacteos')
INSERT [dbo].[Categoria] ([IdCategoria], [CategoriaName]) VALUES (3, N'Limpieza')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([IdProducto], [IdCategoria], [Codigo], [ProductoName], [PrecioVenta], [PrecioCompra], [Cantidad], [Activo], [Stock]) VALUES (1, 1, NULL, N'Test', CAST(11.00 AS Decimal(16, 2)), NULL, 23, NULL, NULL)
INSERT [dbo].[Producto] ([IdProducto], [IdCategoria], [Codigo], [ProductoName], [PrecioVenta], [PrecioCompra], [Cantidad], [Activo], [Stock]) VALUES (2, 1, NULL, N'Coca-Cola', CAST(12.00 AS Decimal(16, 2)), NULL, 30, NULL, NULL)
INSERT [dbo].[Producto] ([IdProducto], [IdCategoria], [Codigo], [ProductoName], [PrecioVenta], [PrecioCompra], [Cantidad], [Activo], [Stock]) VALUES (3, 1, NULL, N'Sprite ', CAST(11.00 AS Decimal(16, 2)), NULL, 49, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Producto] OFF
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Categoria]
GO
USE [master]
GO
